:root {
    --padding-left: 1.5vw;
}

li {
    list-style: none;
}

body, main, .container {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#pfp {
   border-radius: 20%; 
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color:#44624a;
    color: black;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar .location {
    font-size: 2.5rem;

    display: flex;
    align-items: flex-start;
    padding: 1.8rem;
}

.sidebar .location p {
    padding: 0;
    margin: 0;
}

.sidebar ul {
    font-size: 1.6rem;
}

.sidebar ul li {
    height: clamp(30px, 5vh, 10vh);
}

.content {
    grid-column: 2 / 3;
}

.content {
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 0.5fr 2fr;
    gap: 10px;
}

.content > .content-header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 3vw;
}

.content-header > .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.user-info > .search {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.search > img {
    height: 1.3em;
}

.search > input {
    width: 35vw;
    height: 3.5vh;
    background-color: rgb(226, 226, 226);
    border-radius: 15px;
    border-style: none;
}

.user-info > .user-loggedin {
    display: flex;
    gap: 1.5vw;
    align-items: center;
}

.user-loggedin > #noti {
    height: 1.5rem;
}

.user-loggedin > #pfp {
    height: 3.5rem;
}

.user-loggedin > p {
    padding-left: 1vw;
}


.content-header > .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls > .user-greeting {
    display: flex;
    gap: 30px;
    align-items: center;
}

.user-greeting > img {
    height: 4.5rem;
}

.controls > .user-buttons button {
    margin: 1vw;
    background-color: #44624a;
    color: white;
    width: 6vw;
    height: 2.5vw;
    border-radius: 30px;
}


.notice-board {
    display: grid;
    grid-template-columns: 2fr 0.75fr;
    gap: 20px;
    background-color: rgb(244, 244, 244);
    padding: 0 2vw;
}

.notice-board > .projects-board {
    grid-column: 1 / 2;
}

.projects-board > .projects {
    display: grid;
    gap: 30px;
    height: 70vh;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
}

.project {
    padding: 2vh 1.5vw;
    position: relative;
    background-color: white;
    border-left: 0.7rem solid #44624a;
    border-radius: 10px;
    box-shadow: 3px 5px 10px -3px rgba(0,0,0,0.3);
}

.project > .project-content {
    padding-bottom: 3vh;
}

.project > .buttons {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.project > .buttons button {
    background-color: transparent;
    border-style: none;
    padding: 0.2vw;
    margin: 0.1vw;
}

.project > .buttons button:hover {
    border: 1px solid #44624a;
} 

.project > .buttons button img {
    height: 1.5rem;
}




.notice-board > .sub-board {
    grid-column: 2 / 3;

    display: grid;
    grid-row: 1fr 1fr;
    gap: 1vh;
    padding-top: 2vh;
}

.announcements-board > .announcements {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 20px;
    padding: 3em 1em;
} 

.announcement {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 1vw;
}

.announcement-heading + .announcement-text {
    padding: 0.5vw 0 1vw 0;
}

.announcement:not(:last-child)::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: black;
}

.trending-board > .trends {
    display: grid;
    grid-template-rows: repeat(auto-fit,  minmax(50px, 1fr));
    gap: 1vw;
    padding: 5%;
}

.user {
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.user > img {
    grid-row: 1 / 3;
    height: 3.5em;
}

.user > div {
    padding-left: 1vw;
}

.announcements, .trends {
    background-color: white;
    border-radius: 4%;
}